nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="#") 
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav
        //- li.active
        //-   a(href="#") Home
        //- li
        //-   a(href="#about") About
        //- li
        //-   a(href="#contact") Contact
        //- li.dropdown
        //-   a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
        //-     | Dropdown
        //-     span.caret
        //-   ul.dropdown-menu
        //-     li
        //-       a(href="#") Action
        //-     li
        //-       a(href="#") Another action
        //-     li
        //-       a(href="#") Something else here
        //-     li.divider(role="separator")
        //-     li.dropdown-header Nav header
        //-     li
        //-       a(href="#") Separated link
        //-     li
        //-       a(href="#") One more separated link
    
