.container.cont{margin-top:10px;}
.game{display: block; width: 90%; margin:0 auto;}

/*unit*/
.unit{display: block; float: left; position: relative; text-align: center;}
.unit>p{position: absolute; top:0; text-align: center; width: 100%; text-indent: -9999em; overflow: hidden;}
.btn-link{cursor:pointer;}

