extends ../layouts/layout



block content
  link(rel='stylesheet', href='/stylesheets/pages/board.css')
  link(rel='stylesheet', href='/stylesheets/animate.css')
  //include ../includes/topnav
  div.container.cont
   div.panel.panel-default
     div.panel-heading
      h6
       span
        strong 配对游戏
       //span 难度:  #{level}
       span.pull-right.badge 
        a.btn-link
         span.timectl.glyphicon.glyphicon-pause  
        span.badge 时间: 
        span.badge.yourtime #{time}
     div.panel-body
      div.game
      div.mymodal.modal.fade.mes(role="dialog")
       div.modal-dialog.modal-lg
        div.modal-content
         div.modal-header
          button.close(data-dismiss="modal")
           span &times;
          h4.title
         div.modal-body
         div.modal-footer
          button.btn.btn-primary(data-dismiss="modal") Start Game 

  script(data-main="javascripts/app/main" src="javascripts/lib/requirejs/require.js")

    
    
    