extends ../layouts/layout

block content
  link(rel='stylesheet', href='/stylesheets/pages/index.css')
  //include ../includes/topnav
  div.container.cont
    .jumbotron
      h3 配对游戏
      p 
        |记住两两相同的图片位置，并在规定时间内将他们全部找出来。考考记性，练练手指.
    
    form(action="/board", method="get")
      div.form-group
        lable.control-lable 选择游戏难度
        select.form-control(name="l")
          option(value="1") 简单 4x4
          option(value="2") 普通  8x8
          option(value="3") 困难  16x16
      div.form-group
        lable.control-lable 选择游戏时间
        select.form-control(name="t")
          option(value="1") 10s
          option(value="2") 20s
          option(value="3") 30s
      div.form-group
        button.btn.btn-success.btn-lg(type="submit") 点击进入游戏
